<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <title>Document</title>
</head>
<body>
  <header>
    <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
      <a class="navbar-brand" href="#">Memorable Photos</a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="memory.html">Memory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="StudentPhoto.html">Student Photo</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="random.html" role="button" aria-expanded="false">Random</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="assets/first.html">First</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="assets/second.html">Second</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="assets/third.html">third</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <div class="alert alert-primary" role="alert">
    EITTSTSS!!!!
    <hr>
    <div>sebelum kalian melihat kenangan foto lainnya. lihatlah dulu kaka kaka alumni yang cantik dan ganteng ini</div>
  </div>

  <hr>
  <main class="d-flex justify-content-center align-items-center full-height">
    <div class="card" style="width: 18rem;">
        <img src="img/azam9e.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Achmad Fajri Abdillah Al Qudsi Multazza</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </main>
  <hr>
  <main class="d-flex justify-content-center align-items-center full-height">
    <div class="card" style="width: 18rem;">
        <img src="img/arden9e.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Arden Prasetyo</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </main>
  <hr>
  <main class="d-flex justify-content-center align-items-center full-height">
    <div class="card" style="width: 18rem;">
        <img src="img/arsel9e.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Arsel Alyunus</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </main>
  <hr>
  <main class="d-flex justify-content-center align-items-center full-height">
    <div class="card" style="width: 18rem;">
        <img src="img/Syaqira9e.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Syaqira Velina Zahra</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </main>
  <hr>
  <main class="d-flex justify-content-center align-items-center full-height">
    <div class="card" style="width: 18rem;">
        <img src="img/azam9e.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Achmad Fajri Abdillah Al Qudsi Multazza</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </main>
  <hr>
  <main class="d-flex justify-content-center align-items-center full-height">
    <div class="card" style="width: 18rem;">
        <img src="img/good student.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rafael Abimanyu</h5>
          <p class="card-text">hii saya adalah ketua kelas 9E . sekaligus pembuat website yang sedang anda baca</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </main>
  <hr>
  <main class="d-flex justify-content-center align-items-center full-height">
    <div class="card" style="width: 18rem;">
        <img src="img/keysha9e.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Keysha Maulina Dewi</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </main>
  <hr>
  <main class="d-flex justify-content-center align-items-center full-height">
    <div class="card" style="width: 18rem;">
        <img src="img/jaldut9e.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Zhalfa Zhahira</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </main>
  <hr>
  <main class="d-flex justify-content-center align-items-center full-height">
    <div class="card" style="width: 18rem;">
        <img src="img/kirana9e.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kirana Lintang Andjani</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </main>
  <hr>
  <main class="d-flex justify-content-center align-items-center full-height">
    <div class="card" style="width: 18rem;">
        <img src="img/reigina9e.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Reigina Shafira Putri</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </main>

  <main class="d-flex justify-content-center align-items-center full-height">
      <div class="d-flex align-items-center">
        <strong>Loading...</strong>
        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
      </div>
  </main>

  <div style="text-align: center;">
    ___
  </div>
  
  <main class="d-flex justify-content-center align-items-center full-height">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="slide2foto.html">2</a></li>
          <li class="page-item"><a class="page-link" href="slide3foto.html">3</a></li>
          <li class="page-item">
            <a class="page-link" href="slide2foto.html" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
  </main>


  <footer class="bg-primary">
    <div class="container">
      <p>&copy; 2024 Kelas IXE. All Rights Reserved.</p>
      <p>Follow us on:
          <a href="https://www.instagram.com/r.abimanyyy/" class="text-white">Instagram</a> |
        <a href="https://www.tiktok.com/@code.abimanyu?_t=8lKRWaPAxSU&_r=1" class="text-white">TikTok</a> |
        <a href="https://youtube.com/@abimanyucode?si=vh5aZrjPq3AjcWOm" class="text-white">YouTube</a> |
      </p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>