<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <title>Document</title>
</head>
<body>
  

  <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
    <a class="navbar-brand" href="#">Memorable Photos</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="memory.html">Memory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="StudentPhoto.html">Student Photo</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="random.html" role="button" aria-expanded="false">Random</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="assets/first.html">First</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="assets/second.html">Second</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="assets/third.html">third</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <main class="d-flex justify-content-center align-items-center full-height">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
      <div class="alert alert-primary" role="alert">
        <h4 id="scrollspyHeading1">read first</h4>
        <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
      </div>
    </div>
  </main>
  
  <footer class="bg-primary">
    <div class="container">
      <p>&copy; 2024 Kelas IXE. All Rights Reserved.</p>
      <p>Follow us on:
          <a href="https://www.instagram.com/r.abimanyyy/" class="text-white">Instagram</a> |
        <a href="https://www.tiktok.com/@code.abimanyu?_t=8lKRWaPAxSU&_r=1" class="text-white">TikTok</a> |
        <a href="https://youtube.com/@abimanyucode?si=vh5aZrjPq3AjcWOm" class="text-white">YouTube</a> |
      </p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>