<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="stylesheet" href="styles.css">
      <title>Document</title>
    </head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">WEBSITE (IXE)</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="About.html">About Class</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Class Memories
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Teacher</a></li>
                <li><a class="dropdown-item" href="list-student.html">List of Students</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="assets/memorable.html">Memorable Photo</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="other.html" tabindex="-1" aria-disabled="true">Other</a>
              <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><a href="search.html"></a>Search</a></button> -->
            </li>
          </ul>
          <form class="d-flex">
          </form>
        </div>
      </div>
    </nav>
  </header>
  <main>

    <!-- list name -->
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Achmad Fajri Abdillah Al Qudsi Multazzam</div>
            No Absen : 1
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">@multazzamachmad</a>              
              </a>
            </div>
          </div>
          <span class="badge bg-primary rounded-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Aditya Rizki Pratama</div>
            No Absen : 2
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">@woiiii_dduuut</a>              
              </a>
            </div>
          </div>
          <span class="badge bg-primary rounded-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Alkahfi Pandu</div>
            No Absen : 3
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"> XXX              
              </a>
            </div>
          </div>
          <span class="badge bg-primary rounded-pill">3</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Alkasyahri Aulia Rahmah</div>
            No Absen : 4
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">p0cckah</a>               
              </a>
            </div>
          </div>
          <span class="badge bg-primary rounded-pill">4</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Amelia Putri</div>
            No Absen : 5
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">pmelshie</a>              
              </a>
            </div>
          </div>
          <span class="badge bg-primary rounded-pill">5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Arden Prasetyo</div>
            No Absen : 6
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">ardennnvvvv</a>              
              </a>
            </div>
          </div>
          <span class="badge bg-primary rounded-pill">6</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Arfa Daifa</div>
            No Absen : 7
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">almonndcaxe</a>              
              </a>
            </div>
          </div>
          <span class="badge bg-primary rounded-pill">7</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Arsel Alyunus</div>
            No Absen : 8
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">schultz</a>              
              </a>
            </div>
          </div>
          <span class="badge bg-primary rounded-pill">8</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">AZIZAH HUSEINI</div>
            No Absen : 9
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">inih.zah</a>              
              </a>
            </div>
          </div>
          <span class="badge bg-primary rounded-pill">9</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Damar Rendra Kusuma</div>
            No Absen : 10
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24">XXX          
              </a>
            </div>
          </div>
          <span class="badge bg-primary rounded-pill">10</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Emir Fachri Ramadhan</div>
            No Absen : 11
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">emir_photograpy</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">11</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Fitri Khaisah Safani</div>
            No Absen : 12
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">theonlyfitt</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">12</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Fitriyani</div>
            No Absen : 13
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">flvexzy</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">13</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Harits Fadillah</div>
            No Absen : 14
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">hritt.s</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Humairoh</div>
            No Absen : 15
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">your-onlyhumairoh</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">15</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Kautsar Putra Wisyam</div>
            No Absen : 16
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">kassputt</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">16</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Keysha Maulina Dewi</div>
            No Absen : 17
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">kaaikase</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">17</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Kirana Lintang Andjani</div>
            No Absen : 18
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">kiranalntng</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">18</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Muhammad Fauzan</div>
            No Absen : 19
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24">XXX          
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">19</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Muhammad Azka Ramadhan</div>
            No Absen : 20
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">mhammdazkarmdhn</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">20</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Muhamad Faris Hidayat</div>
            No Absen : 21
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">ris_ss02</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">21</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Muhamad Fariz Al Ghifari</div>
            No Absen : 22
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">Riztgarzy_</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">22</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Nabil Ramadhan Abby Pratama</div>
            No Absen : 23
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">nbilramadhan.19</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">23</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Nabilah Rizkiyah</div>
            No Absen : 24
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">this_isbilah</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">24</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Nadia Wulan Dari</div>
            No Absen : 25
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">ndiaw07</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">25</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">RAFAEL ABIMANYU</div>
            No Absen : 26
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">r.abimanyyy</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">26</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Reigina Shafira Putri</div>
            No Absen : 27
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">ginas.archiv</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">27</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Rusadi Hasan Billah</div>
            No Absen : 28
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">rusadi_hasan</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">28</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Siti Nur Kholifah</div>
            No Absen : 29
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">gender_ankbaik</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">29</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Syaqira Velina Zahra</div>
            No Absen : 30
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">qirr.ra</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">30</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Syeva Puan Zulfira</div>
            No Absen : 31
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">syv.pnzlfr</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">32</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Vivi Fitri Ani</div>
            No Absen : 32
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">_vivifitriani</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">32</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Zahra Tusifa</div>
            No Absen : 33
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">_luvvra.aa</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">32</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Zhalfa Zhahira</div>
            No Absen : 34
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="img/download.jfif" alt="" width="30" height="24"><a href="">zhalfiev</a>              
              </a>
            </div>          
          </div>
          <span class="badge bg-primary rounded-pill">33</span>
        </li>
        
      </ol>
      <!-- end name -->
  </main>

  <footer class="bg-primary">
    <div class="container">
      <p>&copy; 2024 Kelas IXE. All Rights Reserved.</p>
      <p>Follow us on:
          <a href="https://www.instagram.com/r.abimanyyy/" class="text-white">Instagram</a> |
        <a href="https://www.tiktok.com/@code.abimanyu?_t=8lKRWaPAxSU&_r=1" class="text-white">TikTok</a> |
        <a href="https://youtube.com/@abimanyucode?si=vh5aZrjPq3AjcWOm" class="text-white">YouTube</a> |
      </p>
    </div>
  </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>


